.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  background-color: darkslategray;
}

.polaroidOuter {
  height: 4.2in;
  width: 3.5in;  
  background-color:lavender;
  box-shadow: 5px 5px 10px;
}

.polaroidInner {
  height: 3.1in;
  width: 3.1in;
  position: relative;
  left: 0.2in;
  top: 0.2in;
  background-color: white;
}

.polaroidImg {
  width: 100%;
  object-fit: cover;
}

.lyrics {
  white-space: pre-line;
}